* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 750px;
    background-image: url("background.jpg");
    background-color: rgb(90, 77, 77);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  img{
    width: 400px;
  }
  
  table {
    border: 2px solid #ffffff;
    border-collapse: collapse;
  }
  
  h1 {
    color: #ffffff;
    font-weight: bold;
  }
  
  th,
  tr,
  td {
    border: solid 1px #ffffff;
    color: #ffffff;
    text-transform: uppercase;
  }
  button{
    width: 150px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(35, 41, 41);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #366dc0;
    color: rgb(241, 228, 228);
  }
  button:hover{
    background-color: #ffcd05ee;
    cursor: pointer;
    transition: all .3s;
}